// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Arcmira from "../../../../../index.js";

export declare namespace EditsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EditsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EditsClient.Options>;

    constructor(options: EditsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Purpose-built wrapper for the line_edit kind. The edit is pending review: visible to you immediately (returned in the transcript GET `edits[]`), applied for everyone once approved. Free (0 rows), attributed to your API key.
     *
     * @param {Arcmira.transcripts.SubmitEditsRequest} request
     * @param {EditsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Arcmira.BadRequestError}
     * @throws {@link Arcmira.UnauthorizedError}
     * @throws {@link Arcmira.ForbiddenError}
     * @throws {@link Arcmira.NotFoundError}
     * @throws {@link Arcmira.ConflictError}
     * @throws {@link Arcmira.TooManyRequestsError}
     * @throws {@link Arcmira.InternalServerError}
     * @throws {@link errors.ArcmiraError}
     * @throws {@link errors.ArcmiraTimeoutError}
     *
     * @example
     *     await client.transcripts.edits.submit({
     *         video_id: "video_id",
     *         segmentIndex: 1,
     *         originalText: "originalText",
     *         correctedText: "correctedText"
     *     })
     */
    public submit(
        request: Arcmira.transcripts.SubmitEditsRequest,
        requestOptions?: EditsClient.RequestOptions,
    ): core.HttpResponsePromise<Arcmira.TranscriptEditSubmittedResponse> {
        return core.HttpResponsePromise.fromPromise(this.__submit(request, requestOptions));
    }

    private async __submit(
        request: Arcmira.transcripts.SubmitEditsRequest,
        requestOptions?: EditsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Arcmira.TranscriptEditSubmittedResponse>> {
        const { video_id: videoId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ArcmiraEnvironment.Default,
                `v1/transcripts/${core.url.encodePathParam(videoId)}/edits`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Arcmira.TranscriptEditSubmittedResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Arcmira.BadRequestError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 401:
                    throw new Arcmira.UnauthorizedError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 403:
                    throw new Arcmira.ForbiddenError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 404:
                    throw new Arcmira.NotFoundError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 409:
                    throw new Arcmira.ConflictError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 429:
                    throw new Arcmira.TooManyRequestsError(
                        _response.error.body as Arcmira.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Arcmira.InternalServerError(
                        _response.error.body as Arcmira.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArcmiraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/transcripts/{video_id}/edits",
        );
    }

    /**
     * @param {Arcmira.transcripts.WithdrawEditsRequest} request
     * @param {EditsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Arcmira.BadRequestError}
     * @throws {@link Arcmira.UnauthorizedError}
     * @throws {@link Arcmira.ForbiddenError}
     * @throws {@link Arcmira.NotFoundError}
     * @throws {@link Arcmira.TooManyRequestsError}
     * @throws {@link Arcmira.InternalServerError}
     * @throws {@link errors.ArcmiraError}
     * @throws {@link errors.ArcmiraTimeoutError}
     *
     * @example
     *     await client.transcripts.edits.withdraw({
     *         video_id: "video_id",
     *         id: "id"
     *     })
     */
    public withdraw(
        request: Arcmira.transcripts.WithdrawEditsRequest,
        requestOptions?: EditsClient.RequestOptions,
    ): core.HttpResponsePromise<Arcmira.WithdrawnResponse> {
        return core.HttpResponsePromise.fromPromise(this.__withdraw(request, requestOptions));
    }

    private async __withdraw(
        request: Arcmira.transcripts.WithdrawEditsRequest,
        requestOptions?: EditsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Arcmira.WithdrawnResponse>> {
        const { video_id: videoId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ArcmiraEnvironment.Default,
                `v1/transcripts/${core.url.encodePathParam(videoId)}/edits/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Arcmira.WithdrawnResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Arcmira.BadRequestError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 401:
                    throw new Arcmira.UnauthorizedError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 403:
                    throw new Arcmira.ForbiddenError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 404:
                    throw new Arcmira.NotFoundError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 429:
                    throw new Arcmira.TooManyRequestsError(
                        _response.error.body as Arcmira.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Arcmira.InternalServerError(
                        _response.error.body as Arcmira.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArcmiraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/transcripts/{video_id}/edits/{id}",
        );
    }
}
