// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Arcmira from "../../../index.js";
import { RelatedClient } from "../resources/related/client/Client.js";

export declare namespace TopicsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TopicsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TopicsClient.Options>;
    protected _related: RelatedClient | undefined;

    constructor(options: TopicsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get related(): RelatedClient {
        return (this._related ??= new RelatedClient(this._options));
    }

    /**
     * @param {Arcmira.GetTopicsRequest} request
     * @param {TopicsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Arcmira.BadRequestError}
     * @throws {@link Arcmira.UnauthorizedError}
     * @throws {@link Arcmira.PaymentRequiredError}
     * @throws {@link Arcmira.ForbiddenError}
     * @throws {@link Arcmira.NotFoundError}
     * @throws {@link Arcmira.TooManyRequestsError}
     * @throws {@link Arcmira.InternalServerError}
     * @throws {@link errors.ArcmiraError}
     * @throws {@link errors.ArcmiraTimeoutError}
     *
     * @example
     *     await client.topics.get({
     *         slug: "slug"
     *     })
     */
    public get(
        request: Arcmira.GetTopicsRequest,
        requestOptions?: TopicsClient.RequestOptions,
    ): core.HttpResponsePromise<Arcmira.TopicPageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Arcmira.GetTopicsRequest,
        requestOptions?: TopicsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Arcmira.TopicPageResponse>> {
        const { slug } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ArcmiraEnvironment.Default,
                `v1/topics/${core.url.encodePathParam(slug)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Arcmira.TopicPageResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Arcmira.BadRequestError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 401:
                    throw new Arcmira.UnauthorizedError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 402:
                    throw new Arcmira.PaymentRequiredError(
                        _response.error.body as Arcmira.Error_,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Arcmira.ForbiddenError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 404:
                    throw new Arcmira.NotFoundError(_response.error.body as Arcmira.Error_, _response.rawResponse);
                case 429:
                    throw new Arcmira.TooManyRequestsError(
                        _response.error.body as Arcmira.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Arcmira.InternalServerError(
                        _response.error.body as Arcmira.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ArcmiraError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/topics/{slug}");
    }
}
