// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Arcmira from "../../../../../index.js";

export declare namespace UsageEventsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UsageEventsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UsageEventsClient.Options>;

    constructor(options: UsageEventsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Account usage log across every active team member, including personal-key use and activity before joining. Ordered by created_at and id descending, bounded to a 90-day look-back. Continuation preserves the first page's time window and excludes subsequently inserted events, including backfills. Removed members and deleted events disappear during traversal; this is not a historical membership snapshot. Cursors expire after 24 hours and bind the team, caller, days and limit; invalid or changed-query cursors return invalid_cursor rather than restarting. The aggregated analytics chart data is not exposed on this API (Enterprise). Requires a team-scoped API key whose owner is still an active team admin. Personal keys and keys whose owner lost team authority receive 403 (team_key_required).
     *
     * @param {Arcmira.team.ListUsageEventsRequest} request
     * @param {UsageEventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Arcmira.BadRequestError}
     * @throws {@link Arcmira.UnauthorizedError}
     * @throws {@link Arcmira.ForbiddenError}
     * @throws {@link Arcmira.NotFoundError}
     * @throws {@link Arcmira.TooManyRequestsError}
     * @throws {@link Arcmira.InternalServerError}
     * @throws {@link errors.ArcmiraError}
     * @throws {@link errors.ArcmiraTimeoutError}
     *
     * @example
     *     await client.team.usageEvents.list()
     */
    public async list(
        request: Arcmira.team.ListUsageEventsRequest = {},
        requestOptions?: UsageEventsClient.RequestOptions,
    ): Promise<core.Page<Arcmira.TeamUsageEvent, Arcmira.TeamUsageEventsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Arcmira.team.ListUsageEventsRequest,
            ): Promise<core.WithRawResponse<Arcmira.TeamUsageEventsResponse>> => {
                const { limit, cursor, days } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    cursor,
                    days,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.ArcmiraEnvironment.Default,
                        "v1/team/usage-events",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as Arcmira.TeamUsageEventsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Arcmira.BadRequestError(
                                _response.error.body as Arcmira.Error_,
                                _response.rawResponse,
                            );
                        case 401:
                            throw new Arcmira.UnauthorizedError(
                                _response.error.body as Arcmira.Error_,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new Arcmira.ForbiddenError(
                                _response.error.body as Arcmira.Error_,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new Arcmira.NotFoundError(
                                _response.error.body as Arcmira.Error_,
                                _response.rawResponse,
                            );
                        case 429:
                            throw new Arcmira.TooManyRequestsError(
                                _response.error.body as Arcmira.Error_,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new Arcmira.InternalServerError(
                                _response.error.body as Arcmira.Error_,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.ArcmiraError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/team/usage-events");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Arcmira.TeamUsageEvent, Arcmira.TeamUsageEventsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }
}
